*,
*::before,
*::after {
  box-sizing: content-box;
}

.description-text {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.titre-image {
  margin-left: 50px;
  width: clamp(200px, 50%, 830px);
}

.image-show {
  display: flex;
  flex-direction: column;
}

.avis-rating {
  margin-left: 50px;
  display: flex;
  justify-content: flex-start;
}

.avis-findos {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: 100px;
}

.retour-wishlist {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 600px;
}

.pillule-category-gift{
  border: 1px solid black;
  border-radius: 15px;
  background:$vert;
  color: white;
  width: fit-content;
  padding: 5px 10px;
  margin-right: 15px;
}
.image-show{
  border-radius: 50px;
  background: white;
  box-shadow: 5px 5px 10px hsl(0, 0%, 100%),
    -5px -5px 10px #fffcfc
}
