.text {
  font-family: $text;
}

.titre {
  font-family: $titre;
}

.card {
  font-family: $card;
  border-color: white;
}

.text-home {
  font-family: $text;
  font-size: large;
}

.text-para {
  font-family: $text;
  margin-top: -100px;
}

.titre-para {
  font-family: $text;
  font-size: large;
}
