.text {
  font-family: $text;
}

.titre {
  font-family: $titre;
}

.card {
  font-family: $card;
  border-color: white;
}

.text-home {
  font-family: $text;
  font-size: large;
  font-size: 30px;
}

.text-para {
  font-family: $text;
  margin-top: -40px;
  font-size: 19px;
}

.titre-para {
  font-family: $text;
  font-size: 30px;
}

.titre.home {
font-weight: 900;
line-height: 55px;
font-size: 55px;
}
