.home-body {
  background-image: image-url("vague-verte.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: 50%;
  position: relative;
}

#home-bottom-image {
  position: absolute;
  bottom: 0px;
  right: 0;
  width: 1030px;
}

#home-bottom-image-category {
  position: absolute;
  bottom: -30px;
  right: 0;
  background-image: "grafitis/bas";
  z-index: -1;
}

#home-bottom-image-category-rev {
  position: absolute;
  bottom: -10px;
  right: 0;
  background-image: "grafitis/bas-rev";
  z-index: -1;
}
