.new--icones {
  width: 42px;
  height: 40px;
}


.selected {
  background-color: $terra;
}
/* Hide the checkbox box */
input[type="checkbox"].d-done {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}


.top-left-icon {
  position: absolute;
  left: -28px;
  top: -20px;
}

.top-right-icon {
  position: absolute;
  right: -22px;
  top: -12px;
}

.bottom-right-icon {
  position: absolute;
  right: -29px;
  top: 197px;
}

.left-fleche {
  position: absolute;
  left: 9px;
  top: 382px;
}

.right-trait {
  position: absolute;
  right: 50px;
  top: 325px;
}
