.new--icones {
  width: 42px;
  height: 40px;
}


.selected {
  background-color: $terra;
}
/* Hide the checkbox box */
input[type="checkbox"].d-done {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}


.top-left-icon {
  position: absolute;
  left: -28px;
  top: -20px;
}

.top-right-icon {
  position: absolute;
  right: -22px;
  top: -12px;
}

.bottom-right-icon {
  position: absolute;
  right: -29px;
  top: 197px;
}

.left-fleche {
  position: absolute;
  left: 51px;
  top: 425px;
}

.right-trait {
  position: absolute;
  right: 132px;
  top: 455px;
}

.graf-chien {
  position: absolute;
  left: -521px;
  bottom: -36px;
}

.graf-tour {
  position: absolute;
  left: 225px;
  bottom: 63px;
}

.btn-suivant {
  padding: 12px;
  width: 26px;
  background: #F2D1C2;
  border-radius: 50%;
  display: flex;
  font-family: "Noto Serif Lao", serif;
  color: black;
  height: 26px;
  text-align: center;
  position: absolute;
  right: 888px;
  bottom: 200px;
  border: 1px solid $terra;
}

.btn-suivant:hover {
  cursor: pointer;
  background-color: $terra;
}

.budget {
  position: absolute;
  left: 319px;
  top: 439px;
}

.budget-trait {
  position: absolute;
  right: 237px;
  top: -12px;
}

.haut-droite-trait{
  position: absolute;
  right:38%;
}
.mouvement-trait{
  position:absolute;
  margin-top: 34px;
  margin-left: -475px;
}
