.navbar-lewagon {
  justify-content: space-between;
  background: rgba(255, 255, 255, 0);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

//// background vert + bouton blanc et texte blanc ------------------------

///////////////////////// pour se loguer

// s'inscrire
.nav-link-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $vert;
  border-radius: 30px;
  background: white;
  text-decoration: none;

  margin-right: 15px;
  width: 85px;
  transition: transform 0.5s;
}

.nav-link-btn:hover {
  transform: scale(1) translateY(-8px);
}

// se connecter
.nav-link-blanc {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin-top: 1px;
  margin-right: 23px;
  transition: transform 0.5s;
}

.nav-link-blanc:hover {
  transform: scale(1) translateY(-8px);
  color: white;
}

///////////////////////// Une fois logué

/// mes wishslists

.nav-link-wishlist-blanc {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-right: 13px;
  transition: transform 0.5s;
}

.nav-link-wishlist-blanc:hover {
  transform: scale(1) translateY(-8px);
  color: white;
}

/// mes votes

.nav-link-votes-blanc {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-right: 5px;
  transition: transform 0.5s;
}

.nav-link-votes-blanc:hover {
  transform: scale(1) translateY(-8px);
  color: white;
}

.titre-logo {
  font-family: $titre;
  color: $vert;
  font-size: 30px;
  margin-left: 20px;
  margin-top: 10px;
}

//// background blanc  ------------------------

//// s'inscrire
.nav-link1 {
  border: 1px solid white;
  border-radius: 30px;
  text-decoration: none;
  font-family: $text;
  padding: 10px;
  margin-right: 12px;
  color: $vert;
  background-color: white;
}

//// se connecter
.nav-link2 {
  text-decoration: none;
  font-family: $text;
  padding: 10px;
  margin-right: 16px;
  color: $vert;
}

.avatar {
  border-radius: 50%;
  border: 1px solid white;
  margin: 10px;
  height: 44px;
  width: 44px;
}

///// mes wishlists
.nav-link3 {
  text-decoration: none;
  font-family: $text;
  padding: 10px;
  margin-right: 10px;
  margin-top: 10px;
  color: $vert;
}
