.navbar-lewagon {
  justify-content: space-between;
  background: rgba(255, 255, 255, 0);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.titre-logo {
  font-family: $titre;
  color: $vert;
  font-size: 30px;
  margin-left: 20px;
  margin-top: 10px;
}

//// s'inscrire
.nav-link1 {

  border: 1px solid white;
  border-radius: 30px;
  text-decoration: none;
  font-family: $text;
  padding: 10px;
  margin-right: 12px;
  color: $vert;
  background-color: white;
}

//// se connecter
.nav-link2 {
  text-decoration: none;
  font-family: $text;
  padding: 10px;
  margin-right: 16px;
  color: $vert;
}

.avatar {
  border-radius: 50%;
  border: 1px solid white;
  margin: 10px;
  height: 44px;
  width: 44px;
}

///// mes wishlists
.nav-link3 {
  text-decoration: none;
  font-family: $text;
  padding: 10px;
  margin-right: 10px;
  margin-top: 10px;
  color: $vert;
}
