.wishlists_gifts_show_body {
  background-image: image-url("greenbackgroundshow.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: 100%;
  position: relative;
}
